# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
  name = othalla
  email = othalla.lf@gmail.com
[color]
  ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto
