urxvt256c*scrollBar: false
urxvt256c*background: Black
urxvt256c*foreground: White
urxvt256c*font: xft:inconsolata:size=8,xft:Droid Sans Mono for Powerline:size=5
urxvt256c*transparent: true
urxvt256c*shading: 30
urxvt256c.colorIT: #87af5f
urxvt256c.colorUL: #87afd7
urxvt256c.cutchars: ()*,@:\;<>[]{|}│

urxvt256c.cursorColor: #00ff00
urxvt256c.cursorBlink: true
urxvt256c.colorBD: white
!Colors
! black
urxvt256c*color0:  #000000
urxvt256c*color8:  #686868
! red
urxvt256c*color1:  #B21818
urxvt256c*color9:  #FF5454
! green
urxvt256c*color2:  #18B218
urxvt256c*color10: #54FF54
! yellow
urxvt256c*color3:  #B26818
urxvt256c*color11: #FFFF54
! blue
urxvt256c*color4:  #1818B2
urxvt256c*color12: #5454FF
! purple
urxvt256c*color5:  #B218B2
urxvt256c*color13: #FF54FF
! cyan
urxvt256c*color6:  #18B2B2
urxvt256c*color14: #54FFFF
! white
urxvt256c*color7:  #B2B2B2
urxvt256c*color15: #FFFFFF

urxvt256c.perl-ext-common: selection-to-clipboard
